<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First App</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
    <h1>Hello this is first_app/index.html!</h1>
    {{ insert_me }}
    <img src="{% static "images/subl.png" %}" alt="Uh Oh, didn't show">
</body>
</html>

